// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url('/assets/xyz.jpg') black no-repeat right 0px;
  color: red;
}
.very_big {
  font-size: 10em;
}
.green {
  color: green;
  bottom: 0px;
  position: absolute;
}
